<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Address Info Page</title>
		<!-- Author:      Sarah McCrie 991405606
        Program:      A3_mccries
        Date:         [11-23-2023]
        Version:      1.0     
        Description:  This is my assignment 3
    -->
	<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
	<link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>

<body>
	<div class="linkHolder">
		<p><a href="#" th:href="@{/secure}">Home</a></p>
		<p><a href="#" th:href="@{/secure/customer}">Customer </a></p>
		<p><a href="#" th:href="@{/secure/order}">Order</a></p>
		<p><a href="#" th:href="@{/secure/product}">Product</a></p>
		<p><a href="#" th:href="@{/secure/address}">Address</a></p>
		<p><a href="#" th:href="@{/adminSecure/customerlist}">Customer list</a></p>
		<p><a href="#" th:href="@{/adminSecure/productlist}">Product list</a></p>
		<p><a href="#" th:href="@{/secure/shoppingcart}">Shopping cart</a></p>
		<form method="post" th:action="@{/logout}">
			<input class="logoutButton" type="submit" value="Logout" />
		</form>
	</div>

	<img class="groceryBanner" th:src="@{/images/groban.jpg}" alt="Grocery Image" />
	<h1>Address Info</h1>

	<div class="formarea">
		<form method="post" action="#" th:action="@{/secure/address}"     th:object="${address}">

			<br>

			<div class="labelAndInput"> <label class="label">Street Name:</label> <input type="text"
					placeholder="Please enter your street name" th:field="*{streetName}" />
			</div> <br>

			<div class="labelAndInput"> <label class="label">Street Number:</label> <input type="number"
					placeholder="Please enter your street number" th:field="*{streetNumber}" /> </div> <br>


			<div class="labelAndInput"> <label class="label">City:</label> <input type="text"
					placeholder="Please enter your city" th:field="*{city}" /> </div> <br>

			<div class="labelAndInput"> <label class="label">Province:</label> <input type="text"
					placeholder="Please enter your province" th:field="*{province}" /> </div> <br>

			<div class="labelAndInput"> <label class="label">Postal Code:</label> <input type="text"
					placeholder="Please enter your postal code" th:field="*{postalCode}" /> </div> <br>


			<input type="submit" class="saveAdressInfo" value="Save Address Info!" id="saveAddressInfo" />

		</form>
	</div>



</body>



</html>